@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Space Grotesk", sans-serif;
    background: linear-gradient(135deg, #282727, #201e1e);
    background-size: cover;
    background-repeat: none;
}

h2{
    @apply text-base md:text-xl;
}

p{
    @apply text-xl tracking-tight leading-relaxed
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.shiny-effect {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(circle, rgba(70, 161, 181, 0.2), transparent 70%);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(135deg, #282727, #201e1e);
}

::-webkit-scrollbar-thumb{
    background-color: #50a7c7;
    border-radius: 6px;
}

.carousel-container {
    width: 100%;  
    max-width: 600px; 
    height: 400px; 
    overflow: hidden; 
    position: relative;
  }
  
  .carousel-track {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  /* .carousel-slide {
    min-width: 100%;
    height: 100%;
  } */

  .carousel-slide {
    min-width: 100%;
    height: 100%;
    display: flex; /* Use flex to center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #1e1e1e; /* Set a background color */
}

.carousel-slide img {
    width: auto; /* Allow width to be auto to maintain aspect ratio */
    height: 100%; /* Set height to 100% */
    max-width: 100%; /* Ensure it doesn't overflow */
    object-fit: contain; /* Keep aspect ratio */
}
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
  }
  